# Secrets et clés privées
*-credentials.yaml
*.key
*.pem

# Fichiers temporaires
.DS_Store
Thumbs.db
*.tmp
*.swp
*.bak

# Variables d'environnement
.env
.env.local

# Logs
*.log

# Node / NPM
node_modules/
npm-debug.log

# Temporary files
scripts/ 